<h2>Add a new account</h2>
<h3>Enter a username and password to get started</h3>

<%= form_for (@user) do |f| %>

        <% if @user.errors.any? %>
       <% @user.errors.each do |msg| %>
        <li><%= msg.full_messages %></li>
        <% end %>
        <% end %>        
          <%= f.label :name%>
          <%= f.text_field :name%>
          <%= f.label :image_url%>
          <%= f.text_field :image_url%>
          <%= f.label :password%>
          <%= f.password_field :password%>
          <%= f.label :confirm_password%>
          <%= f.password_field :confirm_password%>
          <%=f.submit%>

<% end %>
