<!DOCTYPE html>
<html>
<head>
   <title></title>

</head>
<body>
 <div class="container-fluid">
   <div class="row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-4"> 
         <%= audio_tag "beer_new.wav", class: "audio-play" %>
         <div class="login">
                 <h2>Login</h2> <br>
                   <%= form_tag "/sessions" do %>
                   <p> Enter your name: </p>
                   <div class="text-field">
                     <h6> <%= text_field_tag :name %> </h6><br>
                   </div>
                   <p> Enter PW: </p>
                   <div class="text-field">
                     <h6> <%= password_field_tag :password %> </h6><br>
                   </div>
                    <p id="log"> <%= submit_tag "log in" %> </p>
                   <% end %>
         </div>          
       </div>
     </div>
   </div>
   
</body>
</html>