<!DOCTYPE html>
<html>
<head>
 <title></title>


</head>
<body>
  <div class="container-fluid">
   <div class="row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-4"> 
           <%= audio_tag "beer_new.wav", class: "audio-play" %>
           <div class="new">
             <h2>Create an account</h2> <br>
               <%= form_for (@user) do |f| %>
                       <% if @user.errors.any? %> 
                                   <% @user.errors.full_messages.each do |msg| %>
                                   <h5 class="animated fadeInLeft"> <%= msg %></h5>
                               <% end %> 
                       <% end %> 
                  
                         <%= f.label :name%>
                         <div class="text-field">
                        <p> <%= f.text_field :name%> </p>
                         <%= f.label :image_url%>
                        <p> <%= f.text_field :image_url%> </p>
                         <%= f.label :password%>
                        <p> <%= f.password_field :password%> </p>
                         <%= f.label :password_confirmation%>
                        <p> <%= f.password_field :password_confirmation%> </p>
                         <p id="login"> <%=f.submit%> </p>
                         </div>
               <% end %>
           </div> 
       </div>
     </div>
   </d5v>
</body>
</html>
