
<div class="container">
	<div class="beersshow__beerdata">
		<div><p>Beer Name: <%= @beer.name %></p></div>
		<p> Beer Description: <%= @beer.description %></p>
		<p>Beer ABV.: <%= @beer.abv %></p>
		<div class="beerimage"><img src="<%= @beer.image_url %>"></div>
		<p>Brewery: <%= @beer.brewery_name %></p>
	</div>
	<BR><BR>

	<div class="comments">
		<h4>Comments:</h4>
		<p>Leave a comment:</p>
			<%= form_tag("/comments", method: "post") do %>
				<%= text_area_tag(:content) %>
				<%= hidden_field_tag(:beer_id, @beer.id) %>
				<%= submit_tag("Leave Comment") %>
			<% end %>
		<% @comments.each do |comment| %>
			<div class="comment">
				<div class="commentauthor"><%= comment.user.name %>:</div>
				<div class="commentcontent">
					<div class="col-md-2"></div>
					<div class="col-md-10"><%= comment.content %></div>
				</div>
			</div>
		<% end %>
	</div>
	</br>
</div>