<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BreweryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
</head>
<body>
<% if session[:user_id] %>



  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header navbar-brand">The Awesome Beer App</div>
      <div class="margin-right">
            <div><%=link_to("Your Beer Collection", user_path(session[:user_id])) %></div>
            <div><%=link_to("Log Out", "/sessions", method: :delete) %></div>
      </div> 
    </div>
  </nav>

<% end %>


<%= yield %>

</body>
</html>
