<!DOCTYPE html>
<html>
<head>

  <title>BreweryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>



  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header navbar-brand">The Awesome Beer App</div>
      <div>
        <ul class="nav navbar-nav">
          <li><%=link_to("Your Beer Collection", user_path) %></li>
          <li>Hello</li>
          <li><%=link_to("Log Out", "/sessions", method: :delete) %></li>
        </ul>
      </div> 
    </div>
  </nav>

<% end %>


<%= yield %>

</body>
</html>
